.left_container {
  width: 35%;
  height: 100%;
}
.right_container {
  width: 40%;
}

.titile {
  margin-bottom: var(--m-50);
  font-family: var(--popins);
  font-weight: 600;
  font-size: var(--title-size);
  line-height: 100%;
  letter-spacing: 0%;
}
.phargraf {
  font-family: var(--popins);
  font-weight: 400;
  font-size: var(--text-size);
  line-height: 100%;
  color: var(--color-dark);
  opacity: 75%;
  line-height: 1.25rem;
}
.form {
  margin-top: var(--margin);
}
.form_inputs {
  display: flex;
  align-items: center;
  gap: var(--input-gap);
}
.form_accept {
  display: flex;
  align-items: center;
  gap: var(--g-50);
}
.form_accept input {
  display: flex;
  cursor: pointer;
}
.form_text {
  font-family: var(--popins);
  font-weight: 500;
  font-style: Medium;
  font-size: var(--label-size);
  line-height: 100%;
  color: var(--color-dark);
}

.form_text span {
  color: var(--color-secondary);
}
.form_btn {
  margin-top: var(--margin);
}
.form_bottom_text {
  margin-top: var(--label-size);
  text-align: center;
}
.form_bottom_text span {
  cursor: pointer;
}
